// Variáveis de cores
$verde: #04f480;
$preto: #0a0a0a;
$branco: #ffffff;

// Estilos gerais
body {
    background-color: $preto;
    color: $branco;
}

// Navbar
.navbar {
    // background-color: darken($preto, 5%);
    backdrop-filter: blur(5px);
    padding: 1rem 0;
    position: absolute;
    width: 100%;

    .navbar-brand img {
        height: 40px;
    }

    .nav-link {
        color: $branco;
        margin: 0 10px;

        &:hover {
            color: $verde;
        }
    }

    .buttons {
        .btn {
            margin-left: 10px;
            border-radius: 5px;
        }

        .btn-green {
            background-image: linear-gradient(129deg, $verde 53%, #a8ff6b);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            color: $preto;
            border-radius: 10px;
            padding: 10px 20px 8px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            transition: all .4s;

            &:hover {
                background-color: lighten($verde, 10%);
            }
        }
    }
}

// Hero Section
.hero {
    background: url('./img/bgHero.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    align-content: center;

    @media screen and (max-width:500px) {
        padding-top: 120px;
    }

    .hero-text {
        .highlight {
            display: block;
            background-color: rgba($verde, 0.2);
            padding: 5px 10px;
            border-radius: 50px;
            color: $verde;
            font-size: 14px;
            width: fit-content;
            border: 1px solid $verde;
            backdrop-filter: blur(1px);
        }

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin: 20px 0;

            .green {
                color: $verde;
            }
        }

        p {
            font-size: 18px;
            color: lighten($branco, 20%);
        }


        .btn-green {
            background-image: linear-gradient(148deg, $verde 59%, #a8ff6b);
            padding: 15px 30px 18px;
            font-size: 18px;
            line-height: 18px;
            // border: 1px #845bf6;
            border-radius: 10px;
            font-weight: 600;
        }

    }

    .stats {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-image: linear-gradient(320deg, #04f4805e, #fff0);
        border: 1px solid #04f480;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 60px;
        padding: 20px;
        display: flex;



        // display: flex;
        // margin-top: 30px;
        // gap: 15px;
        // flex-wrap: wrap;
        @media screen and (max-width:500px) {
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            background-image: linear-gradient(320deg, rgba(4, 244, 128, 0.368627451), rgba(255, 255, 255, 0));
            border: 1px solid #04f480;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 60px;
            padding: 0;
            display: grid;
        }

        div {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            line-height: 1;


            strong {
                font-size: 2rem;
                color: $verde;
                display: block;
                margin-right: 8px;
            }

            span {
                font-size: 12px;
            }

            @media screen and (max-width:500px) {
                // background: rgba($verde, 0.2);
                padding: 15px;
                border-radius: 8px;
                text-align: left;
                min-width: 120px;
                flex: 1;
            }
        }
    }

    // Imagem e blocos dinâmicos
    .hero-image {
        position: relative;

        img {
            width: 100%;
            max-width: 500px;
            display: block;
            margin: auto;
        }

        .info-box {
            position: absolute;
            background: rgba($verde, 0.2);
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 14px;
            color: $verde;
            font-weight: bold;
        }

        .payout {
            top: 10%;
            left: 60%;
        }

        .suporte {
            top: 20%;
            right: 10%;
        }

        .deposito {
            bottom: 10%;
            left: 30%;
        }
    }


}

// Estilizando a seção do carousel
.carousel-section {
    text-align: center;
    padding: 60px 0;

    h2 {
        font-size: 2rem;
        font-weight: bold;

        .green {
            color: $verde;
        }
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .swiper {
        width: 100%;
        // max-width: 900px;
        margin: 0 auto;
        padding: 32px 0;
        background-image: radial-gradient(circle closest-side, #04f4804d, #fff0);
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;

        img {
            width: 100%;
            max-width: 250px;
            // border-radius: 10px;
            // box-shadow: 0 0 15px rgba($verde, 0.5);
            transition: transform 0.3s ease-in-out;
        }
    }

    // Efeito de destaque no slide central
    .swiper-slide-active img {
        // transform: scale(1.2);
    }

    // Botões de navegação personalizados
    .custom-prev,
    .custom-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // width: 50px;
        // height: 50px;
        // background: $verde;
        // border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        z-index: 10;
    }

    .custom-prev {
        left: -.5rem;
    }

    .custom-next {
        right: -.5rem;
        // background: $branco;
        // border: 2px solid $verde;
    }

    .custom-prev::after,
    .custom-next::after {
        font-size: 20px;
        color: $verde;
    }

    // Estiliza os bullets da paginação
    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .swiper-pagination-bullet {
        width: 40px;
        height: 6px;
        background: rgba(255, 255, 255, 0.2); // Fundo neutro
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: 0.3s;
    }

    // Barrinha de progresso ativa
    .swiper-pagination-bullet-active .progress {
        display: block;
        width: 0%;
        height: 100%;
        background: #00ff99; // Cor da barra ativa
        position: absolute;
        top: 0;
        left: 0;
    }

    // Animação do preenchimento
    @keyframes progressFill {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }

    // Botão CTA
    .btn-green {
        background-image: linear-gradient(148deg, $verde 59%, #a8ff6b);
        padding: 15px 30px 18px;
        font-size: 18px;
        line-height: 18px;
        // border: 1px #845bf6;
        border-radius: 10px;
        font-weight: 600;
        margin-top: 1.2rem;

        &:hover {
            background: lighten($verde, 10%);
        }
    }

}

.avaliacoes-section {
    text-align: left;
    padding: 30px 0;
    background-color: #121212;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px;
    }

    .swiper {
        width: 100%;
        margin: 0 auto;
        padding: 32px 0;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
        height: auto;
    }

    .avaliacao-card {
        background: #1b1b1b;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        color: #fff;
        border: 1px solid #04f480;
        // box-shadow: 0px 4px 10px rgba(0, 255, 153, 0.2);
        // max-width: 250px;
        display: flex;
        flex-direction: column;
        // gap: 10px;
        position: relative;
        height: 100%;
    }

    .avaliacao-card img {
        width: 50px;
        height: 50px;
        border-radius: 25%;
        // border: 2px solid #00ff99;
        object-fit: cover;
        position: absolute;
        top: 15%;
        left: 10px;
    }

    .avaliacao-card h4 {
        font-size: 1rem;
        color: #00ff99;
        margin-left: 65px;
    }

    .avaliacao-card span {
        font-size: 0.8rem;
        color: #ccc;
        display: block;
        margin-left: 65px;
    }

    .estrelas {
        color: #04f480;
        font-size: 0.9rem;
        margin-left: 65px;
    }

    .avaliacao-card p {
        font-size: 0.9rem;
        line-height: 1.4;
        margin-top: 10px;
    }

    /* Alinhando setas e paginação na mesma linha */
    .swiper-navigation-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* Espaço entre os elementos */
        margin-top: 3rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: #00ff99 !important;
        width: 40px;
        height: 40px;
        position: relative;
        top: 0;
        transform: none;
        /* Remove transformações desnecessárias */
    }

    .swiper-button-prev::after,
    .swiper-button-next::after{
        font-size: 2em !important;
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: fit-content !important;
    }

    .swiper-pagination-bullet {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        transition: 0.3s;
        margin: 0 5px;
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background: #00ff99;
    }



}