body {
  background-color: #0a0a0a;
  color: #ffffff;
}

.navbar {
  backdrop-filter: blur(5px);
  padding: 1rem 0;
  position: absolute;
  width: 100%;
}
.navbar .navbar-brand img {
  height: 40px;
}
.navbar .nav-link {
  color: #ffffff;
  margin: 0 10px;
}
.navbar .nav-link:hover {
  color: #04f480;
}
.navbar .buttons .btn {
  margin-left: 10px;
  border-radius: 5px;
}
.navbar .buttons .btn-green {
  background-image: linear-gradient(129deg, #04f480 53%, #a8ff6b);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #0a0a0a;
  border-radius: 10px;
  padding: 10px 20px 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.4s;
}
.navbar .buttons .btn-green:hover {
  background-color: #2ffc99;
}

.hero {
  background: url("./img/bgHero.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  align-content: center;
}
@media screen and (max-width: 500px) {
  .hero {
    padding-top: 120px;
  }
}
.hero .hero-text .highlight {
  display: block;
  background-color: rgba(4, 244, 128, 0.2);
  padding: 5px 10px;
  border-radius: 50px;
  color: #04f480;
  font-size: 14px;
  width: fit-content;
  border: 1px solid #04f480;
  backdrop-filter: blur(1px);
}
.hero .hero-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0;
}
.hero .hero-text h1 .green {
  color: #04f480;
}
.hero .hero-text p {
  font-size: 18px;
  color: white;
}
.hero .hero-text .btn-green {
  background-image: linear-gradient(148deg, #04f480 59%, #a8ff6b);
  padding: 15px 30px 18px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 10px;
  font-weight: 600;
}
.hero .stats {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: linear-gradient(320deg, rgba(4, 244, 128, 0.368627451), rgba(255, 255, 255, 0));
  border: 1px solid #04f480;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  padding: 20px;
  display: flex;
}
@media screen and (max-width: 500px) {
  .hero .stats {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-image: linear-gradient(320deg, rgba(4, 244, 128, 0.368627451), rgba(255, 255, 255, 0));
    border: 1px solid #04f480;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    padding: 0;
    display: grid;
  }
}
.hero .stats div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.hero .stats div strong {
  font-size: 2rem;
  color: #04f480;
  display: block;
  margin-right: 8px;
}
.hero .stats div span {
  font-size: 12px;
}
@media screen and (max-width: 500px) {
  .hero .stats div {
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    min-width: 120px;
    flex: 1;
  }
}
.hero .hero-image {
  position: relative;
}
.hero .hero-image img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
}
.hero .hero-image .info-box {
  position: absolute;
  background: rgba(4, 244, 128, 0.2);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  color: #04f480;
  font-weight: bold;
}
.hero .hero-image .payout {
  top: 10%;
  left: 60%;
}
.hero .hero-image .suporte {
  top: 20%;
  right: 10%;
}
.hero .hero-image .deposito {
  bottom: 10%;
  left: 30%;
}

.carousel-section {
  text-align: center;
  padding: 60px 0;
}
.carousel-section h2 {
  font-size: 2rem;
  font-weight: bold;
}
.carousel-section h2 .green {
  color: #04f480;
}
.carousel-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.carousel-section .swiper {
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
  background-image: radial-gradient(circle closest-side, rgba(4, 244, 128, 0.3019607843), rgba(255, 255, 255, 0));
}
.carousel-section .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.carousel-section .swiper-slide img {
  width: 100%;
  max-width: 250px;
  transition: transform 0.3s ease-in-out;
}
.carousel-section .custom-prev,
.carousel-section .custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}
.carousel-section .custom-prev {
  left: -0.5rem;
}
.carousel-section .custom-next {
  right: -0.5rem;
}
.carousel-section .custom-prev::after,
.carousel-section .custom-next::after {
  font-size: 20px;
  color: #04f480;
}
.carousel-section .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.carousel-section .swiper-pagination-bullet {
  width: 40px;
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
.carousel-section .swiper-pagination-bullet-active .progress {
  display: block;
  width: 0%;
  height: 100%;
  background: #00ff99;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes progressFill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.carousel-section .btn-green {
  background: #04f480;
  color: #0a0a0a;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}
.carousel-section .btn-green:hover {
  background: #2ffc99;
}

/*# sourceMappingURL=styles.css.map */
