// Variáveis de cores
$amarelo: #04f480;
$amarelo: #ffcc00;
$preto: #000;
$branco: #ffffff;
$btn-gradient: linear-gradient(129deg, #ffb700 25%, #ffcc00 50%, #ffdd55 80%);
// $btn-gradient-hover:;

// Estilos gerais
body {
    background-color: $preto;
    color: $branco;
}

@keyframes relampago {
    0% {
        box-shadow: 0px 0px 5px rgba(255, 204, 0, 0.7);
    }

    50% {
        box-shadow: 0px 0px 15px rgba(255, 204, 0, 1);
    }

    100% {
        box-shadow: 0px 0px 5px rgba(255, 204, 0, 0.7);
    }
}

// Navbar
.navbar {
    // background-color: darken($preto, 5%);
    backdrop-filter: blur(5px);
    padding: 1rem 0;
    position: absolute;
    width: 100%;

    .navbar-brand img {
        height: 40px;
    }

    .nav-link {
        color: $branco;
        margin: 0 10px;

        &:hover {
            color: $amarelo;
        }
    }

    .buttons {
        .btn {
            margin-left: 10px;
            border-radius: 5px;
        }

        .btn-green {
            background-image: $btn-gradient;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            color: $preto;
            border-radius: 10px;
            padding: 10px 20px 8px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            transition: all 0.4s ease-in-out;

            &:hover {
                animation: relampago 0.15s linear infinite;
            }
        }

        .btn-outline-light {
            border-color: #ffcc00 !important;
        }
    }
}

// Hero Section
.hero {
    background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0) 55%, #000), url("./img/bgHero.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    align-content: center;

    @media screen and (max-width:500px) {
        padding-top: 120px;
    }

    .hero-text {
        .highlight {
            display: block;
            background-color: rgba(255, 204, 0, 0.2); // Amarelo translúcido
            padding: 5px 10px;
            border-radius: 50px;
            color: $amarelo; // Texto em amarelo
            font-size: 14px;
            width: fit-content;
            border: 1px solid $amarelo; // Borda amarela
            backdrop-filter: blur(1px);

        }

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin: 20px 0;

            .green {
                color: $amarelo;
            }
        }

        p {
            font-size: 18px;
            color: lighten($branco, 20%);
        }


        .btn-green {
            background-image: $btn-gradient;
            padding: 15px 30px 18px;
            font-size: 18px;
            line-height: 18px;
            // border: 1px #845bf6;
            border-radius: 10px;
            font-weight: 600;

            &:hover {
                animation: relampago 0.15s linear infinite;
            }
        }

    }

    .stats {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-image: linear-gradient(320deg, #ffcc005e, #fff0);
        border: 1px solid $amarelo;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 60px;
        padding: 20px;
        display: flex;



        // display: flex;
        // margin-top: 30px;
        // gap: 15px;
        // flex-wrap: wrap;
        @media screen and (max-width:500px) {
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            background-image: linear-gradient(320deg, rgba(4, 244, 128, 0.368627451), rgba(255, 255, 255, 0));
            border: 1px solid #04f480;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 60px;
            padding: 0;
            display: grid;
        }

        div {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            line-height: 1;


            strong {
                font-size: 2rem;
                color: $amarelo;
                display: block;
                margin-right: 8px;
            }

            span {
                font-size: 12px;
            }

            @media screen and (max-width:500px) {
                // background: rgba($amarelo, 0.2);
                padding: 15px;
                border-radius: 8px;
                text-align: left;
                min-width: 120px;
                flex: 1;
            }
        }
    }

    // Imagem e blocos dinâmicos
    .hero-image {
        position: relative;

        img {
            width: 100%;
            max-width: 500px;
            display: block;
            margin: auto;
        }

        .info-box {
            position: absolute;
            background: rgba($amarelo, 0.2);
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 14px;
            color: $amarelo;
            font-weight: bold;
        }

        .payout {
            top: 10%;
            left: 60%;
        }

        .suporte {
            top: 20%;
            right: 10%;
        }

        .deposito {
            bottom: 10%;
            left: 30%;
        }
    }


}

// Estilizando a seção do carousel
.carousel-section {
    text-align: center;
    padding: 60px 0;

    h2 {
        font-size: 2rem;
        font-weight: bold;

        .green {
            color: $amarelo;
        }
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .swiper {
        width: 100%;
        // max-width: 900px;
        margin: 0 auto;
        padding: 32px 0;
        background-image: radial-gradient(circle closest-side, rgba(255, 204, 0, 0.3), rgba(255, 255, 255, 0));
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;

        img {
            width: 100%;
            max-width: 250px;
            // border-radius: 10px;
            // box-shadow: 0 0 15px rgba($amarelo, 0.5);
            transition: transform 0.3s ease-in-out;
        }
    }

    // Efeito de destaque no slide central
    .swiper-slide-active img {
        // transform: scale(1.2);
    }

    // Botões de navegação personalizados
    .custom-prev,
    .custom-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // width: 50px;
        // height: 50px;
        // background: $amarelo;
        // border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        z-index: 10;
    }

    .custom-prev {
        left: -.5rem;
    }

    .custom-next {
        right: -.5rem;
        // background: $branco;
        // border: 2px solid $amarelo;
    }

    .custom-prev::after,
    .custom-next::after {
        font-size: 20px;
        color: $amarelo;
    }

    // Estiliza os bullets da paginação
    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .swiper-pagination-bullet {
        width: 40px;
        height: 6px;
        background: rgba(255, 255, 255, 0.2); // Fundo neutro
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: 0.3s;
    }

    // Barrinha de progresso ativa
    .swiper-pagination-bullet-active .progress {
        display: block;
        width: 0%;
        height: 100%;
        background: $amarelo; // Cor da barra ativa
        position: absolute;
        top: 0;
        left: 0;
    }

    // Animação do preenchimento
    @keyframes progressFill {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }

    // Botão CTA
    .btn-green {
        background-image: $btn-gradient;
        padding: 15px 30px 18px;
        font-size: 18px;
        line-height: 18px;
        // border: 1px #845bf6;
        border-radius: 10px;
        font-weight: 600;
        margin-top: 1.2rem;

        &:hover {
            animation: relampago 0.15s linear infinite;
        }
    }

}

.avaliacoes-section {
    text-align: left;
    padding: 30px 0;
    background-color: #121212;
    border-top: 1px solid $amarelo;
    border-bottom: 1px solid $amarelo;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px;
    }

    .swiper {
        width: 100%;
        margin: 0 auto;
        padding: 32px 0;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
        height: auto;
    }

    .avaliacao-card {
        background: #1b1b1b;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        color: #fff;
        border: 1px solid $amarelo;
        // box-shadow: 0px 4px 10px rgba(0, 255, 153, 0.2);
        // max-width: 250px;
        display: flex;
        flex-direction: column;
        // gap: 10px;
        position: relative;
        height: 100%;
    }

    .avaliacao-card img {
        width: 50px;
        height: 50px;
        border-radius: 25%;
        // border: 2px solid #00ff99;
        object-fit: cover;
        position: absolute;
        top: 15%;
        left: 10px;
    }

    .avaliacao-card h4 {
        font-size: 1rem;
        color: $amarelo;
        margin-left: 65px;
    }

    .avaliacao-card span {
        font-size: 0.8rem;
        color: #ccc;
        display: block;
        margin-left: 65px;
    }

    .estrelas {
        color: $amarelo;
        font-size: 0.9rem;
        margin-left: 65px;
    }

    .avaliacao-card p {
        font-size: 0.9rem;
        line-height: 1.4;
        margin-top: 10px;
    }

    /* Alinhando setas e paginação na mesma linha */
    .swiper-navigation-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* Espaço entre os elementos */
        margin-top: 3rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $amarelo !important;
        width: 40px;
        height: 40px;
        position: relative;
        top: 0;
        transform: none;
        /* Remove transformações desnecessárias */
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 2em !important;
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: fit-content !important;
    }

    .swiper-pagination-bullet {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        transition: 0.3s;
        margin: 0 5px;
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background: $amarelo;
    }



}

.benefits {
    text-align: center;
    padding: 60px 20px;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 20px;

        span {
            color: $amarelo;
        }
    }

    .benefits-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        background-image: linear-gradient(148deg, rgba(255, 204, 0, 0.368627451), rgba(255, 255, 255, 0));
        padding: 8px;
        border-radius: 20px;
        max-width: 1000px;
        margin: 0 auto;
        // box-shadow: 0 0 15px rgba(0, 255, 153, 0.3);

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
        }
    }

    .benefit-card {
        // background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 12px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.3s;

        &:hover {
            transform: translateY(-5px);
            // background: rgba(0, 0, 0, 0.3);
        }

        .benefit-header {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 10px;

            .benefit-icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: $amarelo;
                border: 1px solid $preto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                color: #000;
            }

            h3 {
                font-size: 1.1rem;
                font-weight: bold;
                color: #fff;
                line-height: 1.4;

                span {
                    color: $amarelo;
                }
            }
        }

        p {
            font-size: 0.9rem;
            color: #d0d0d0;
            line-height: 1.5;
        }
    }

    .btn-green {
        background-image: $btn-gradient;
        padding: 15px 30px;
        font-size: 1rem;
        border-radius: 10px;
        font-weight: 600;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        color: #000;
        transition: 0.3s;

        &:hover {
            animation: relampago 0.15s linear infinite;
        }
    }
}

.carousel-ativos {
    background-color: #131313;
    border-top: 1px solid $amarelo;
    border-bottom: 1px solid $amarelo;
    padding: 60px 0px;

    .ativos-card {
        pointer-events: none; // Impede cliques em todo o card
    }

    .tradingview-widget-container {
        pointer-events: none; // Bloqueia interações com o gráfico do TradingView
    }

    .tag {
        display: block;
        background-color: rgba(255, 204, 0, 0.2);
        padding: 5px 10px;
        border-radius: 50px;
        color: #ffcc00;
        font-size: 14px;
        width: fit-content;
        border: 1px solid #ffcc00;
        backdrop-filter: blur(1px);
    }

    h2 {
        .green {
            color: $amarelo;
        }
    }

    .swiper {
        width: 100%;
        padding: 20px 0;
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
    }

    .ativos-card {
        background: rgba(255, 204, 0, 0.1);
        border: 2px solid $amarelo;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: 100%;
        max-width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        touch-action: none !important;

        h3 {
            color: $branco;
            font-size: 1rem;
            position: relative;
            margin: 10px 0 0;

        }

        .tradingview-widget {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
    }
}

// Seção Como Começar
.como-comecar {
    text-align: center;
    padding: 60px 20px;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 3rem;

        span {
            color: $amarelo;
        }
    }

    .steps-container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;
        flex-wrap: wrap;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .step-card {
        background-image: linear-gradient(156deg, rgba(255, 204, 0, 0.16) 2% 26%, rgba(255, 204, 0, 0));
        border: 1px solid $amarelo;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        // width: 30%;
        // min-width: 280px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: 0.3s;
        height: 100%;

        &:hover {
            transform: translateY(-5px);
        }

        @media (max-width: 1024px) {
            width: 100%;
        }

        .step-icon {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            background: $amarelo;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            color: #000;
            box-shadow: 0 0 10px rgba($amarelo, 0.4);
        }

        h3 {
            font-size: 1.2rem;
            font-weight: bold;
            color: #fff;
            line-height: 1.4;
            margin-top: 20px;

            span {
                color: $amarelo;
            }
        }

        p {
            font-size: 0.9rem;
            color: #d0d0d0;
            line-height: 1.5;
            margin-top: 10px;
        }
    }

    .cta-button {
        margin-top: 30px;
        background-image: $btn-gradient;
        padding: 15px 30px;
        font-size: 1rem;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        color: #000;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        // max-width: 300px;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            animation: relampago 0.15s linear infinite;
        }

        i {
            margin-left: 10px;
        }
    }
}

.hero-negociacao {
    position: relative;
    text-align: center;
    padding: 80px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .hero-image {
        // max-width: 800px;
        margin-bottom: 20px;
        background-image: linear-gradient(0deg, #000, #0000 55%, #000), url('./img/bg-hero-negociacao.jpg');
        background-size: auto, cover;
        background-attachment: scroll, fixed;
        padding: 6rem 0;

        img {
            width: 100%;
            max-width: 50rem;
            display: block;
            margin: auto;
            filter: drop-shadow(0 0 15px rgba(255, 204, 0, 0.3));
            animation: float 3s ease-in-out infinite;
        }
    }

    .hero-content {
        max-width: 700px;
        color: $branco;
        text-align: center;

        .tag {
            display: inline-block;
            background-color: rgba($amarelo, 0.2);
            padding: 5px 15px;
            border-radius: 50px;
            color: $amarelo;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid $amarelo;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: bold;
            margin: 20px 0;

            .green {
                color: $amarelo;
            }
        }

        p {
            font-size: 1rem;
            color: lighten($branco, 20%);
            margin-bottom: 20px;
        }

        .btn-green {
            background-image: $btn-gradient;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 10px;
            font-weight: 600;
            display: inline-block;
            transition: all 0.3s ease;
            color: $preto;
            text-decoration: none;

            &:hover {
                animation: relampago 0.15s linear infinite;
            }
        }
    }

    @media (max-width: 768px) {
        .hero-content {
            h2 {
                font-size: 2rem;
            }
        }
    }

    @media (max-width: 500px) {
        .hero-content {
            h2 {
                font-size: 1.8rem;
            }
        }
    }
}

.faq {
    text-align: center;
    padding: 60px 20px;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 20px;

        .green {
            color: $amarelo;
        }
    }

    .faq-item {
        background: rgba(255, 255, 255, 0.05);
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 10px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: 0.3s ease-in-out;

        &:hover {
            border-color: $amarelo;
        }

        .faq-question {
            text-align: left;
            // display: flex;
            align-items: center;
            // justify-content: space-between;
            font-size: 1.1rem;
            color: #fff;
            font-weight: 600;
            padding: 10px;
            transition: 0.3s;

            .icon {
                font-size: 1.5rem;
                font-weight: bold;
                color: $amarelo;
                margin-right: .5rem;
                transition: transform 0.3s ease-in-out;
            }
        }

        .faq-answer {
            max-height: 0;
            overflow: hidden;
            font-size: 1rem;
            line-height: 1.5;
            color: #ccc;
            padding: 0 10px;
            text-align: left;
            transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
        }

        &.active {
            .faq-question .icon {
                transform: rotate(45deg); // Animação do ícone "+" para "-"
            }

            .faq-answer {
                max-height: 200px; // Ajustável para expandir a resposta
                padding: 10px;
            }
        }
    }
}